.edit-server-modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-light-gray);
}

.edit-server-modal__nav {
  width: 35.9%;
  height: 100vh;
  background-color: var(--bg-medium-gray);
}

.edit-server-modal__form-container {
  width: 720px;
  padding: 2rem;
  margin-top: 5rem;
}

.edit-server-modal__form > section,
.edit-server-modal__form > div {
  margin-bottom: 2rem;
}

.edit-server-modal__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.edit-server-modal__heading > h2 {
  color: white;
}

.edit-server-modal__heading > i {
  color: var(--icon-light-gray);
  font-size: 25px;
}

.edit-server-modal__heading > i:hover {
  color: var(--icon-white-active);
  cursor: pointer;
}

.edit-server-modal__form label {
  color: var(--icon-light-gray);
  text-transform: uppercase;
  font-size: 10px;
}

.edit-server-modal__form input {
  color: var(--font-gray);
}

.edit-server-modal__image-container > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.edit-server-modal__image-container > img[src=''] {
  visibility: hidden;
}

.edit-server-modal__edit-section {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: var(--font-gray);
  margin-bottom: 2rem;
}

.edit-server-modal__input-container {
  display: flex;
  gap: 2rem;
  flex-grow: 2;
}

.edit-server-modal__input-container input {
  padding: 0.3rem;
}

.edit-server-modal__img-input-container > input {
  background-color: var(--bg-dark-gray);
  border: none;
  border-radius: 3px;
  height: 2rem;
}

.edit-server-modal__input-container > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex-grow: 1;
  gap: 0.3rem;
}

.edit-server-modal__visibility-section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-server-modal__visibility-section p {
  color: var(--font-white);
}

.checkbox-container {
  position: relative;
  width: 50px;
  height: 30px;
}

.checkbox-container > label {
  display: inline-block;
  width: 50px;
  height: 30px;
  border-radius: 30px;
}

.edit-server-modal__visibility-section input[type] {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

#server-about {
  width: 100%;
  background-color: var(--bg-dark-gray);
  color: var(--font-gray);
  height: 4rem;
  padding: 5px;
  margin-top: 0.3rem;
  resize: none;
}

.edit-server-modal input,
.edit-server-modal textarea {
  border: none;
  outline: none;
}

.edit-server-modal__btn-container {
  display: flex;
  justify-content: center;
}

.edit-server-modal__submit-btn {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-blue);
  color: var(--font-white);
}

.edit-server-modal__submit-btn:hover {
  background-color: hsl(235, 44%, 51%);
}

.divider {
  height: 1px;
  background-color: hsl(222, 6%, 32%);
}

.toggle {
  width: 50px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 30px;
  transition: background-color 200ms ease-in-out;
}

.toggle-gray {
  background-color: hsl(222, 6%, 32%);
}

.toggle-green {
  background-color: var(--primary-green);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--font-white);
  position: absolute;
  top: 5px;
  left: 5px;
}

.slider > i {
  font-size: 12px;
}

.checked {
  transform: translatex(20px);
  transition: transform 200ms ease-in-out;
}

.unchecked {
  transition: transform 200ms ease-in-out;
}
