.app-wrapper {
  display: grid;
  grid-template-areas:
    "servers app-nav messages";
  grid-template-columns: 70px 250px 1fr;
  height: 100%;
  color: white;
  background-color: var( --bg-dark-gray);
  padding-top: 15px;
}

.app-wrapper>* {
  height: 100%;
}

.server-sidebar {
  grid-area: servers;
}

.app-nav {
  grid-area: app-nav;
  background-color: var(--bg-medium-gray);
  border-radius: 10px 0px 0px 0px;
  padding-left: 8px;
}

.messages {
  grid-area: messages;
  background-color: var(--bg-light-gray);
}

.app-nav,
.messages {
  padding-top: 15px;
}
