.channels-nav {
  padding: 8px;
  background-color: var(--black-400);
  flex-grow: 2;
}

.channels-nav ul {
  padding: 0px;
}

.channels-nav__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.channels-nav__header h2 {
  font-size: var(--font-size-sm);
  font-weight: normal;
  color: var(--font-gray);
  padding: 3px;
}

.channels-nav__list {
  display: flex;
  flex-direction: column;
}

.channels-nav__list .channel-item--voice {
  order: 1;
}

.channels-nav__create-channel-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--font-gray);
  padding: 3px;
}

.channels-nav__create-channel-btn {
  background: none;
  border: none;
  color: var(--font-gray);
}

.channels-nav__create-channel-btn:hover {
  color: var(--font-white);
}

.channels-messages {
  color: var(--font-gray);
}