.channels-messages {
  display: grid;
  grid-template-rows: 42px 1fr 7%;
  height: 100vh;
}

.channel-header {
  border-bottom: 1px solid var(--bg-dark-gray);
  color: var(--font-white);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.message-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

/* Works for all broswers besides Firefox */
.message-container::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-medium-gray);
}

.message-container::-webkit-scrollbar-track {
  background-color: var(--bg-medium-gray);
}

.message-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollthumb-dark);
  border-radius: 10px;
}

/* For Firefox compatibility */
.message-container {
  scrollbar-color: var(--scrollthumb-dark);
  scrollbar-width: 10px;
}

.message-input {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 18px;
}

.message-input form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-input input {
  width: 95%;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: hsl(218, 8%, 25%);
  padding: 10px;
  outline: none;
  height: 40px;
  color: var(--font-white);
}

.message-input button {
  background-color: hsl(218, 8%, 25%);
  width: 3%;
  height: 40px;
  border: none;
  outline: none;
  color: var(--icon-light-gray);
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
}