/* TODO Add site wide styles */

#root {
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'gg sans Medium', sans-serif;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

:root {
  /* COLORS */
  --primary-blue: hsl(235, 86%, 65%);
  --primary-green: hsl(139, 48%, 44%);
  --primary-red: hsl(359, 87%, 60%);
  --bg-profile-dark: hsl(220, 8%, 7%);
  --bg-dark-gray: hsl(225, 11%, 13%);
  --bg-medium-gray: hsl(214, 8%, 18%);
  --bg-light-gray: hsl(218, 8%, 20%);
  --bg-light-gray-hover: hsl(213, 7%, 24%);
  --font-white: hsl(0, 0%, 87%);
  --font-gray: hsl(212, 9%, 61%);
  --icon-light-gray: hsl(213, 8%, 73%);
  --icon-white-active: hsl(0, 0%, 100%);
  --scrollthumb-dark: hsl(225, 7%, 11%);

  --black-100: #101214;
  --black-200: #1e1f22;
  --black-300: #232428;
  --black-400: #2b2d31;
  --black-500: #313338;
  --black-600: #36373d;
  --black-700: #383a40;
  --black-800: #404249;

  --white-500: #9aa1ab;
  --white-600: #b5bac1;
  --white-700: #dbdee1;
  --white-800: #eeeff1;

  /* NEED FONT FAMILY */

  /* FONT SIZES */
  --font-size-lg: 32px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xtsm: 10px;

  /* FONT WEIGHTS */
  --font-weight-lg: 700;
  --font-weight-md: 500;
}

.hidden {
  display: none;
}
