.server-form {
  margin: auto;
  background-color: var(--bg-light-gray);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  overflow: hidden;
  border-radius: inherit;
}

.form-wrapper {
  border-radius: 5px;
}

.server-form > * {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.server-form h2 {
  color: var(--font-white);
}

.server-form h2,
.server-form p {
  align-self: center;
}

.server-form p {
  color: var(--font-gray);
}

.server-form input {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.7rem;
  margin-top: 5px;
  background-color: var(--bg-dark-gray);
  border: none;
  border-radius: 3px;
  outline: none;
  color: var(--font-white);
}

.server-form label {
  display: block;
  margin: 1rem 0px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--font-gray);
}

.server-form img {
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: var(--primary-blue);
}

.server-form__btn-container {
  display: flex;
  justify-content: center;
}

.server-form button[type='submit'] {
  background-color: var(--primary-blue);
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 3px;
  color: var(--font-white);
  transition: background-color 100ms ease-in-out;
}

.server-form button[type='submit']:hover {
  background-color: hsl(235, 44%, 51%);
}
