.channels-nav {
  color: var(--font-gray);
}

.channel-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: var(--font-size-sm);
  padding: 8px;
  border-radius: 5px;
}

.channel-item--selected {
  background-color: var(--bg-light-gray-hover);
}

.channel-item:hover {
  background-color: var(--bg-light-gray-hover);
  cursor: pointer;
}

.channels-nav__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.channels-nav__header > h2 {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.channels-nav__create-channel-btn {
  background: none;
  border: none;
  font-size: 1.7rem;
  color: var(--font-gray);
}

.channels-nav__create-channel-btn:hover,
.channels-nav__header > h2:hover {
  color: var(--font-white);
}

.server-menu:hover {
  background-color: var(--bg-light-gray-hover);
}

.list-button {
  display: flex;
  justify-content: space-between;
}

.list-button:hover {
  background-color: #444;
  cursor: pointer;
}
