.channels-nav {
  padding: 8px;
}

.channels-nav ul {
  padding: 0px;
}

.channel-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
}

.channel-item:hover {
  background-color: #444;
}

.channels-nav__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.channels-nav__create-channel-btn {
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}