.message-card__div {
  display: grid;
  grid-template-columns: 40px 90% auto;
  color: var(--font-white);
  padding: 15px;
}

.message-card__div:hover {
  background-color: var(--bg-medium-gray);
}

.message-card__image {
  background-color: blue;
  border: 2px solid orange;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.message-card__message {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
}

.message-card__list-message-date {
  font-size: var(--font-size-sm);
  color: var(--font-gray)
}

.message-card__list-message-content {
  font-size: var(--font-size-sm)
}

.message-card__edit-input {
  width: 99%;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: hsl(218, 8%, 25%);
  padding: 10px;
  outline: none;
  height: 40px;
  color: var(--font-white);
}

.message-card__hidden-cancel {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-blue)
}

.message-card__hidden-save {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-blue);
  margin-right: 5px;
}

.message-card__option-buttons {
  background-color: transparent;
  border: none;
  color: var(--icon-light-gray);  
}

.message-card__buttons {
  display: flex;
  gap: 10px;
}

.message-card__option-buttons:hover {
  color: var(--icon-white-active);
}